<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-card class="cards-list-demo">
      <ion-card-header style="border-bottom: 1px solid #dedada;margin-bottom: 18px;">
          <strong>Upload cover Photo</strong>
      </ion-card-header> 
      <div class="profileAndCover" [style.backgroundImage]="getCoverBackgroundStyle()" >
        <input type="file" #coverPhoto style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'cover')" />
        <button ion-button class="editcoverBtn" (click)="uploadCoverPicture()" *ngIf="profile.user_id == myId">
            <ion-icon color="white" name="camera" role="img" class="icon icon-ios ion-ios-camera" aria-label="camera"></ion-icon>
            Edit
        </button>
      </div>
    </ion-card>      
    <ion-card class="cards-list-demo">
        <ion-card-header style="border-bottom: 1px solid #dedada;margin-bottom: 18px;">
          <strong> Edit profile picture</strong>
        </ion-card-header> 
        <div class="profileWrap">
            <div class="profileImgArea">
              <img [src]="imageURL+profile.user_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" >            
            </div>
            <input type="file" #profilePhoto style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'profile')" />
            <button ion-fab class="profile-img" (click)="uploadProfilePicture()" *ngIf="profile.user_id == myId">					
              <ion-icon color="white" name="camera" role="img" class="icon icon-ios ion-ios-camera" aria-label="camera"></ion-icon>
            </button>
          </div>
    </ion-card>

    <ion-card class="cards-list-demo">
          <ion-card-header style="border-bottom: 1px solid #222">
           <strong>Besic Info</strong>
          </ion-card-header>   
          <ion-list>
              <ion-item *ngIf="profile.user_work_place">
                  <ion-icon ios="ios-briefcase-outline" md="ios-briefcase-outline"></ion-icon>
                  {{profile.user_work_title}} at <b>{{profile.user_work_place}}</b>                
              </ion-item>
              <ion-item *ngIf="profile.user_edu_major">
                  <ion-icon ios="ios-school-outline" md="ios-school-outline"></ion-icon>
                  Studied at <b>{{profile.user_edu_major}}</b>            
              </ion-item>
              <ion-item *ngIf="profile.user_edu_school">
                  <ion-icon ios="ios-school-outline" md="ios-school-outline"></ion-icon>
                  Went to <b>{{profile.user_edu_school}}</b>            
              </ion-item>
              <ion-item *ngIf="profile.user_hometown">
                  <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
                  Hometown <b>{{profile.user_hometown}}</b>
              </ion-item>
              <ion-item *ngIf="profile.user_current_city">
                  <ion-icon ios="ios-locate-outline" md="ios-locate-outline"></ion-icon>
                  Lives in  <b>{{profile.user_current_city}}</b>
              </ion-item>
              <ion-item *ngIf="profile.user_relationship">
                  <ion-icon ios="ios-heart-outline" md="ios-heart-outline"></ion-icon>
                  <b *ngIf="profile.user_relationship == 'relationship'" > In a Relationship</b>             
                  <b *ngIf="profile.user_relationship == 'complicated'" > It's complicated</b>             
                  <b *ngIf="profile.user_relationship == 'single'" > Single</b>             
              </ion-item>
              <ion-item *ngIf="profile.user_gender">
                  <ion-icon ios="ios-male-outline" md="ios-male-outline"></ion-icon>
                  <b>{{profile.user_gender}}</b>
              </ion-item>
              <ion-item *ngIf="profile.followers_count">
                  <ion-icon ios="logo-rss" md="logo-rss"></ion-icon>
                  Followed by <b>{{profile.followers_count}}</b> people
              </ion-item>
              <button ion-button icon-start full (click)="editDetails(profile)">
                  <ion-icon ios="ios-create-outline" md="ios-create-outline" ></ion-icon>
                  Edit
              </button>              
          </ion-list>
    </ion-card>
</ion-content>
