page-pages {
	ion-searchbar{
        input{
            background:rgba(255,255,255,.2) !important;
            color:#fff !important;
            box-shadow: none !important;
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #fff;
                opacity: 1; /* Firefox */
            }
            
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:#fff;
            }
            
            ::-ms-input-placeholder { /* Microsoft Edge */
                color: #fff;
            }
        }
        .searchbar-search-icon, .searchbar-clear-icon{
            filter:brightness(200)
        }
    }
	.scroll-content {
		padding: 0px !important;
	}
}
