page-photos {
	.ImgWrapBig{
        height: 160px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important; 
    }
    .ImgWrapSmall{
        height: 100px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }
    .photosGrid ion-col{
        padding: 1px;
    }
	.grid {
		padding: 0;
    }
    .album-details {
        border: 1px solid #eee;
        border-top: none;
        font-size: 10px;
        padding: 5px;
        color: #165292;
    }
}
