<ion-header>
  <ion-navbar color="primary">
    
    <ion-title>Photos</ion-title>
	<ion-buttons right>
      <button ion-button icon-only><ion-icon ios="ios-search" md="md-search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment color="dark" [(ngModel)]="photoalbum">
	  <ion-segment-button value="uploads">
		Uploads
	  </ion-segment-button>
	  <ion-segment-button value="albums">
		Albums
	  </ion-segment-button>
	</ion-segment>
</ion-header>


<ion-content>
	<div [ngSwitch]="photoalbum">
			<ion-list *ngSwitchCase="'uploads'">
				<ion-grid class="photosGrid">
						<ion-row>
								<ion-col *ngFor="let photo of photos" [id]="i" col-4>		
									<div class="ImgWrapBig" [style.backgroundImage]="getBackgroundStyle(photo.source)" (click)="viewImage(photo)">
									</div>
								</ion-col>
								<ion-infinite-scroll (ionInfinite)="doInfinitePhotos($event)">
								   <ion-infinite-scroll-content></ion-infinite-scroll-content>
								</ion-infinite-scroll>
						</ion-row>
				</ion-grid>
			</ion-list>
			<ion-list *ngSwitchCase="'albums'">
				<ion-grid class="photosGrid">
					<ion-row>
						<ion-col *ngFor="let album of albums" col-4 >		
							<div class="ImgWrapBig" [style.backgroundImage]="getBackgroundStyle(album.cover)" (click)="getAlbum(album.album_id)" >                
							</div>
							<div class="album-details" (click)="getAlbum(album.album_id)" > 
								<span style="padding-top:0px;"> {{album.title}} </span>
							<div>
								{{album.photos_count}} Photos
								<div class="">
									
								</div>
							</div> 
							</div>
						</ion-col>
						<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
						   <ion-infinite-scroll-content></ion-infinite-scroll-content>
						</ion-infinite-scroll>
						
					</ion-row>
				</ion-grid>
			</ion-list>
	</div>
</ion-content>
