// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #750bb5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.ion-ios-happy:before,.ion-md-happy:before {
    color:#f7bd0d;
}

.ion-ios-headset:before,.ion-md-headset:before {
    color:#169ce1;
}
.ion-ios-game-controller-b:before,.ion-md-game-controller-b:before {
    color:#7116e1;
}
.ion-ios-pizza:before,.ion-md-pizza:before {
    color:#f48c1d;
}
.ion-ios-pint:before,.ion-md-pint:before {
    color:#1aa9a4;
}
.ion-ios-plane:before,.ion-md-plane:before {
    color:#418dff;
}
.ion-ios-book:before,.ion-md-book:before {
    color:#294de6;
}
.ion-ios-lock:before,.ion-md-lock:before {
    color:#902d8d;
}
.ion-ios-remove-circle:before,.ion-md-remove-circle:before {
    color:#de1818;
}
.ion-ios-person:before,.ion-md-person:before {
    color:#1a7c94;
}

.ion-ios-calendar:before,.ion-md-calendar:before {
    color:#22990b;
}
.ion-ios-beer:before,.ion-md-beer:before {
    color:#f59525;
}


.ion-logo-rss:before {
    color:#2196f3;
}
.ion-logo-flag:before {
    color: "#ed581e";
}
.ion-md-person-add:before {
    color: "#1a7c94";
}