<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()"> <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title>Akash Dutta</ion-title>
	<ion-buttons right>
      <button ion-button icon-only> <ion-icon ios="ios-search" md="md-search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="friendzone">
      <ion-segment-button value="suggested">
        Suggested
      </ion-segment-button>
      <ion-segment-button value="sent">
        Sent
      </ion-segment-button>
      <ion-segment-button value="friends">
        Friends
      </ion-segment-button>
    </ion-segment>
</ion-header>
<!--
  Generated template for the FriendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
	<div [ngSwitch]="friendzone">
	  <ion-list *ngSwitchCase="'suggested'">
			<ion-item *ngFor="let friend of getSuggestedUsers">
				<ion-thumbnail item-start (click)="viewProfile(friend.user_name,friend.user_id)">
					<img src="https://dev.followthebirds.com/content/uploads/{{friend.user_picture}}" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'">
					
				</ion-thumbnail>			
				<div>
					<h2 (click)="viewProfile(friend.user_name,friend.user_id)"> {{friend.user_firstname}} {{friend.user_lastname}}</h2>
					<p>	{{friend.mutual_friends_count}} Mutual Friends <p>		
					<button ion-button padding (click)="addAction($event,friend)">
						Add Friend
					</button>
					<button ion-button color="primary" outline padding (click)="removeAction($event,friend.user_id)">
						Remove
					</button>	
				</div>	
			</ion-item>
	   </ion-list>
	   <ion-list *ngSwitchCase="'sent'">
	    <ion-item-divider color="light" *ngIf="pendindFriendLists <= 0">
			No Sent Requests
		</ion-item-divider> 
		<ion-item *ngFor="let friend of pendindFriendLists" >
			<ion-thumbnail item-start (click)="viewProfile(friend.user_name,friend.user_id)">
				<img src="https://dev.followthebirds.com/content/uploads/{{friend.user_picture}}" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'">
				
			</ion-thumbnail>
			<h2 (click)="viewProfile(friend.user_name,friend.user_id)">{{friend.user_firstname}} {{friend.user_lastname}}</h2>
			<p>	{{friend.mutual_friends_count}} Mutual Friends </p>		
		    <button ion-button padding item-end  (click)="cancelRequestAction($event,friend.user_id)">
				Cancel Request
		    </button>			
		</ion-item>
	   </ion-list>
	   <ion-list *ngSwitchCase="'friends'">
	    <ion-item-divider color="light">
				Active : {{onlineUsers.length}}
			</ion-item-divider>
		
		<ion-item *ngFor="let friend of friendLists">
			<ion-thumbnail item-start (click)="viewProfile(friend.user_name,friend.user_id)">
			  <img src="https://dev.followthebirds.com/content/uploads/{{friend.user_picture}}" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'">
			</ion-thumbnail>
			<h2 (click)="viewProfile(friend.user_name,friend.user_id)">{{friend.user_firstname}} {{friend.user_lastname}}</h2>
			<p>	{{friend.mutual_friends_count}} Mutual Friends </p>	
			<button ion-button item-end icon-start padding (click)="messageAction(friend)">
			  <ion-icon name="chatbubbles"></ion-icon>
			  Message
			</button>
		</ion-item>
	   </ion-list>
	   
	</div>
	
</ion-content>
