<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
     <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

	<whats-on-mind [handle]="postElement"></whats-on-mind>
	<div class="stories_status">
	 <div class="stories-title"> Stories </div>
	 <ion-slides [slidesPerView]="3.2">
		<ion-slide>
			<ion-card text-wrap>
				<div class="ImgWrapBig" [style.backgroundImage]= "getBackgroundStyle(user_picture)" >
					<div class="story-overlay" (tap)="AddStory();">
						<h3 class="user_details"> Add a story</h3>
						<div class="add_story_wrap">
						    <ion-icon name="add"></ion-icon>
						</div>
					</div>
				</div>
			</ion-card>
		</ion-slide>
		<ion-slide  *ngFor="let story of stories" (tap)="viewStory(story)">
			<ion-card text-wrap>
				<div class="ImgWrapBig" [style.backgroundImage]="getStoryBackgroundStyle(story.media)" >
				  <div class="story-overlay">
					<h3 class="user_details">{{story.user_firstname}} {{story.user_lastname}}</h3>
				  </div>	
				</div>
			</ion-card>
		</ion-slide>					
	 </ion-slides>
	</div>
    <ion-card *ngFor="let feeds of postFeeds ; let i = index" >
	<ion-item text-wrap>
	  <ion-avatar item-start (click)="viewProfile(feeds)">
		<img [src]="mediapath+feeds.post_author_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" />
	  </ion-avatar>
	  <span style="font-weight:bold;padding-right:3px;" (click)="viewProfile(feeds)"> {{feeds.post_author_name}}</span> 
	  <span *ngIf="feeds.feeling_action">is - <ion-icon [name]="feeds.feeling_icon"></ion-icon> {{feeds.feeling_action}} {{feeds.feeling_value}}</span>
	  <span *ngIf="feeds.post_type == 'profile_picture' || feeds.post_type == 'profile_cover' " >
		  {{post_type[feeds.post_type+'_'+feeds.user_gender]}}</span>
	  <span *ngIf="feeds.post_type != 'profile_cover' || feeds.post_type != 'profile_picture'" >{{post_type[feeds.post_type]}}</span>
	  <span *ngIf="feeds.wall_id > '0'" > to <strong>{{feeds.wall_fullname}}'s</strong> Timeline</span>
	  <span *ngIf="feeds.post_type == 'shared'" > <strong (click)="viewProfile(feeds.origin)">{{feeds.origin.post_author_name}}</strong>'s Post</span>
	  <span *ngIf="feeds.in_event == '1'" style="display:inline-block;"><ion-icon name="play" style="font-size: 11px;color: #750bb5;padding-right: 3px;"></ion-icon> <ion-icon name='calendar' style="color:#b5af0b;padding: 0;margin: 0;padding-right: 3px;" item-start></ion-icon>  {{feeds.event_title}}</span>
	  <ion-note class="msg_time" style="display:block" *ngIf="isAndroid">{{feeds.time | date: 'dd MMM' }} at {{ feeds.time | date: 'h:mm a' }}</ion-note> 
	  <button ion-button clear icon-only item-end (tap)="postActivity($event,feeds)"><ion-icon name="ios-more-outline"></ion-icon></button>
	</ion-item>
	<ion-card-content *ngIf="feeds.text" >
		<p style="padding-bottom: 3px;padding-left: 10px;">{{feeds.text}}</p>
	</ion-card-content>  
	<div (click)="viewPost(feeds)">
		<div class="pg_wrapper" *ngIf="feeds.photos_num <= 2">
			<div class="pg_{{feeds.photos_num}}x" *ngFor="let photo of feeds.photos" [style.backgroundImage]="getBackgroundStyle(photo.source)" [style.height.px]="width/feeds.photos_num">
			</div>
		</div>	
		<div class="pg_wrapper" *ngIf="feeds.photos_num == 3">
			<div class="pg_1x" [style.backgroundImage]="getBackgroundStyle(feeds.photos[0].source)" [style.height.px]="width/2">
			</div>
			<div class="pg_1x " [style.height.px]="width/2">
				<div class="pg_2x" [style.height.px]="width/2" *ngFor="let photo of feeds.photos | slice:1:4; " [style.backgroundImage]="getBackgroundStyle(photo.source)" ></div>
			</div>
		</div>		
		<div class="pg_wrapper" *ngIf="feeds.photos_num == 4">
			<div class="pg_{{feeds.photos_num}}x" *ngFor="let photo of feeds.photos" [style.backgroundImage]="getBackgroundStyle(photo.source)" [style.height.px]="width/feeds.photos_num">
			</div>
		</div>
		<div class="pg_wrapper" *ngIf="feeds.photos_num >= 5">
			<div class="pg_2x" [style.backgroundImage]="getBackgroundStyle(feeds.photos[0].source)" [style.height.px]="width/2"></div>
			<div class="pg_2x " [style.height.px]="width/2">
				<div class="pg_4x" [style.height.px]="width/4" *ngFor="let photo of feeds.photos | slice:1:4; " [style.backgroundImage]="getBackgroundStyle(photo.source)" ></div>
				<div class="pg_4x" style="position:relative" [style.height.px]="width/4" *ngFor="let photo of feeds.photos | slice:4:5; " [style.backgroundImage]="getBackgroundStyle(photo.source)" >
					<div class="more" *ngIf="feeds.photos_num > 5" >
					 <span class="more-number">
					     +{{feeds.photos_num - 5}}
					 </span>
					</div>
				</div>
				
			</div>
		</div>		
		
		<div *ngIf="feeds.post_type == 'video'">
			<video *ngFor="let vid of feeds.video" style="width:100%" controls preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
				<source [src]="mediapath+vid.source" type="video/mp4"/>
			</video>
		</div>
		<div *ngIf="feeds.post_type == 'audio'" style="text-align: center;">
			<audio controls *ngFor="let aud of feeds.audio">
			  <source [src]="mediapath+aud.source" type="audio/mpeg">
			  Your browser does not support the audio element.
			</audio>
		</div>	
		<div *ngIf="feeds.post_type == 'file'">
			<ion-item *ngFor="let attch of feeds.file" >
			  <ion-thumbnail item-start>
				<img src="assets/followthebirdImgs/text-file-icon.png">
			  </ion-thumbnail>
			  <h2>Attachment.zip</h2>
			  <a ion-button padding href="{{imageURL+attch.source}}" download>
				Download
			  </a>
			</ion-item>
		</div>
		<div *ngIf="feeds.post_type == 'shared'">
			<ion-card>
				<ion-item text-wrap>
				  <ion-avatar item-start (click)="viewProfile(feeds.origin)">
					<img [src]="mediapath+feeds.origin.post_author_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" />
				  </ion-avatar>
				  <span style="font-weight:bold;padding-right:3px;" (click)="viewProfile(feeds.origin)"> {{feeds.origin.post_author_name}}</span> 
				  <span *ngIf="feeds.origin.feeling_action != ''" >is {{feeds.origin.feeling_action}} {{feeds.origin.feeling_value}}</span>
				  {{post_type[feeds.origin.post_type]}}
				  <span *ngIf="feeds.in_event == '1'"><ion-icon name="play" style="font-size: 11px;color: #750bb5;padding-right: 3px;"></ion-icon> <ion-icon name='calendar' style="color:#b5af0b;padding: 0;margin: 0;padding-right: 3px;" item-start></ion-icon>  {{feeds.origin.event_title}}</span>
				  <p>{{feeds.origin.time}}</p>
				</ion-item>
				<ion-card-content>
					<p style="padding-bottom: 3px;padding-left: 20px;">{{feeds.origin.text}}</p>					
					<div class="pg_wrapper" *ngIf="feeds.origin.photos_num <= 2">
						<div class="pg_{{feeds.origin.photos_num}}x" *ngFor="let photo of feeds.photos" [style.backgroundImage]="getBackgroundStyle(photo.source)" [style.height.px]="width/feeds.origin.photos_num">
						</div>
					</div>
					<div class="pg_wrapper" *ngIf="feeds.origin.photos_num == 3">
						<div class="pg_1x" [style.backgroundImage]="getBackgroundStyle(feeds.origin.photos[0].source)" [style.height.px]="width/2">
						</div>
						<div class="pg_1x " [style.height.px]="width/2">
							<div class="pg_2x" [style.height.px]="width/2" *ngFor="let photo of feeds.origin.photos | slice:1:4; " [style.backgroundImage]="getBackgroundStyle(photo.source)" ></div>
						</div>
					</div>		
					<div class="pg_wrapper" *ngIf="feeds.origin.photos_num == 4">
						<div class="pg_{{feeds.origin.photos_num}}x" *ngFor="let photo of feeds.origin.photos" [style.backgroundImage]="getBackgroundStyle(photo.source)" [style.height.px]="width/feeds.origin.photos_num">
						</div>
					</div>
					<div class="pg_wrapper" *ngIf="feeds.origin.photos_num >= 5">
						<div class="pg_2x" [style.backgroundImage]="getBackgroundStyle(feeds.origin.photos[0].source)" [style.height.px]="width/2"></div>
						<div class="pg_2x " [style.height.px]="width/2">
							<div class="pg_4x" [style.height.px]="width/4" *ngFor="let photo of feeds.origin.photos | slice:1:4; " [style.backgroundImage]="getBackgroundStyle(photo.source)" ></div>
							<div class="pg_4x" style="position:relative" [style.height.px]="width/4" *ngFor="let photo of feeds.origin.photos | slice:4:5; " [style.backgroundImage]="getBackgroundStyle(photo.source)" >
								<div class="more" *ngIf="feeds.origin.photos_num > 5" >
								 <span class="more-number">
									 +{{feeds.origin.photos_num - 5}}
								 </span>
								</div>
							</div>
							
						</div>
					</div>
					<div *ngIf="feeds.origin.post_type == 'video'">
						<video *ngFor="let originvid of feeds.origin.video" style="width:100%" controls preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
							<source [src]="mediapath+originvid.source" type="video/mp4"/>
						</video>
					</div>
					<div *ngIf="feeds.origin.post_type == 'audio'">
						<audio controls *ngFor="let aud of feeds.origin.audio">
						  <source [src]="mediapath+aud.source" type="audio/mpeg">
						  Your browser does not support the audio element.
						</audio>
					</div>	
					<div *ngIf="feeds.origin.post_type == 'file'">
						<ion-item *ngFor="let attch of feeds.origin.file" >
						  <ion-thumbnail item-start>
							<img src="assets/followthebirdImgs/text-file-icon.png">
						  </ion-thumbnail>
						  <h2>Attachment.zip</h2>
						  <button ion-button padding (click)="downloadAttachment(attch.source)">
							Download
						  </button>
						</ion-item>
					</div>		
				</ion-card-content>
			</ion-card>
		</div>
	</div>
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start (click)="viewComments(i,feeds.post_comments,feeds.post_id)">
            <ion-icon ios="ios-text" md="md-text"></ion-icon>
            {{feeds.comments}} Comments
        </button>
      </ion-col>
	  <ion-col>
	  </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-end right (click)="sharePostCtrl(feeds.post_id)" *ngIf="feeds.privacy == 'public'">
            Share
			<ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>           
        </button>
      </ion-col>
      
    </ion-row>
  </ion-card>
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>