// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
  &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: transparent;
      --ion-color-base: transparent !important;
     
  }

  &[class*="custom-food"] {
	mask-image: url(../assets/icon/food.svg.svg);;
	.tab-button[aria-selected=true] & {
	  mask-image: url(../assets/icon/food.svg.svg);;
	}
  }
  
  &[class*="custom-games"] {
	mask-image: url(../assets/icon/console.svg);
	.tab-button[aria-selected=true] & {
	  mask-image: url(../assets/icon/console.svg);
	}
  }
}
.pg_wrapper {
    display: block;
    overflow: hidden;
    clear: both;
}
.pg_1x {
    width: 100%;
    background-size: cover;
    background-position: center;
<<<<<<< HEAD
    height: 300px;
=======
	height: 300px;
>>>>>>> 55f9d9fa8b8c427dc359086f983f5b70adea9713
}
.pg_2x {
    width: 50%;
    float: left;
    border-right: 2px solid #fff;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pg_3x {
    background-size: cover;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1px;
}	

.pg_4x {
    height: 50%;
    float: left;
    width: 49%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1px;
}