// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 50px;
    height: 50px;
  }

    &[class*="custom-strong"] {
        mask-image: url(../assets/icon/strong.svg);
        .tab-button[aria-selected=true] & {
            mask-image: url(../assets/icon/strong.svg);;
        }
        width: 30px;
        height: 30px;
        color: #d99e82;
    }

    &[class*="custom-crazy"] {
        mask-image: url(../assets/icon/crazy.svg);
        .tab-button[aria-selected=true] & {
            mask-image: url(../assets/icon/crazy.svg);;
        }
        width: 30px;
        height: 30px;
    }


    &[class*="custom-angry"] {
        mask-image: url(../assets/icon/angry.svg);
        .tab-button[aria-selected=true] & {
            mask-image: url(../assets/icon/angry.svg);;
        }
        width: 30px;
        height: 30px;
        color: #d99e82;
    }
    

  &[class*="custom-food"] {
	mask-image: url(../assets/icon/food.svg);;
	.tab-button[aria-selected=true] & {
	  mask-image: url(../assets/icon/food.svg);;
	}
  }
  
  &[class*="custom-games"] {
	mask-image: url(../assets/icon/console.svg);
	.tab-button[aria-selected=true] & {
	  mask-image: url(../assets/icon/console.svg);
	}
  }
  
}
.pg_wrapper {
    display: block;
    overflow: hidden;
    clear: both;
}
.pg_1x {
    width: 100%;
    background-size: cover;
    background-position: center;
}
.pg_2x {
    width: 50%;
    float: left;
    border-right: 2px solid #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pg_3x {
    background-size: cover;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1px;
}	

.pg_4x {
    height: 50%;
    float: left;
    width: 49%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1px;
}