page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.png') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
.login_page.singUp{
  background:url(../../assets/followthebirdImgs/loginBg.jpg) left center;
}
.login_page{

  background:url(../../assets/followthebirdImgs/loginBg_withLogo.jpg) left center;
  background-size: cover;

  .formContainer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: 0 !important;

    .login_btn{
      height: 48px;
      border-radius: 35px;
      text-transform: uppercase;
      font-size: 14px;
    }

    .footer_btn{
      padding-right: 0;
      span{
        justify-content: flex-end;
        font-size:13px
      }
    }  
    .footer_btn.left{
      padding-left: 0;
      span{
        justify-content: flex-start
      }
    }   

    ion-item{
      background: rgba(255, 255, 255, 0.15);
      height: 48px;
      border-radius: 35px;
      margin-bottom: 12px;
      border: none !important;
      padding-left: 20px;
      box-shadow: none !important;

      .item-inner{
        border:none !important;
      }

      ion-label{
        width:40px;
        min-width: 40px;
        max-width: 150px;
        flex: 0 0 40px;
        margin-right: 0;

        ion-icon {
          display: inline-block;
          font-size: 30px;
          color: rgba(255,255,255,.25);
        }
      }
      ion-input{
        color: #fff;
        font-size: 15px;
        input{
          margin-left: 0;
          outline: none
        }
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #c8c7c7;
        font-size: 14px;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #c8c7c7;
        font-size: 14px;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #c8c7c7;
        font-size: 14px;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #c8c7c7;
        font-size: 14px;
      }
    }
    
  }

}