<ion-content scroll="false" class="login_page optPage">
  
    <div padding class="formContainer">


      <div class="disTabcontent">
        <div class="logo">
          <img class="appLogo" src="../../assets/followthebirdImgs/logo.png" alt="">
        </div>
        <img class="icn_img" src="../../assets/followthebirdImgs/reset_pass.png" alt="">
        <h4>RESET YOUR PASSWORD</h4>

        <form>
          <ion-list>
    
            <ion-item>
              <ion-label fixed><ion-icon ios="ios-unlock-outline" md="md-unlock"></ion-icon></ion-label>
              <ion-input type="password" [(ngModel)]="account.user_new_pass" name="user_new_pass" placeholder="New Password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed><ion-icon ios="ios-unlock-outline" md="md-unlock"></ion-icon></ion-label>
                <ion-input type="password" [(ngModel)]="account.user_confirm_pass" name="user_confirm_pass" placeholder="Confirm Password"></ion-input>
            </ion-item>		
            
            <button *ngIf="checkPassword()" (tap)="changePassword()" class="login_btn" ion-button color="light" block outline>CHANGE PASSWORD</button>
            <button *ngIf="!checkPassword()" disabled (tap)="changePassword()" class="login_btn" ion-button color="light" block outline>CHANGE PASSWORD</button>
              
          </ion-list>
        </form>
      </div>
      <div class="bottomFooter">
      <ion-grid>			
        <ion-row>
          <ion-col col-6>
            <button class="footer_btn left" (tap)="signup()" ion-button color="light" clear block>Create Account</button>
          </ion-col>
          <ion-col col-6>
            <button class="footer_btn" (tap)="login()" ion-button color="light" clear block>Login</button>
          </ion-col>
        
        </ion-row>
      </ion-grid>
    </div>
      
    </div>	
    
  </ion-content>
  