<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
	  <button ion-button icon-only (tap)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
	</ion-buttons>
	<div class="conversation_user" *ngIf="!group">
	  <img [src]="imageURL+conversation.picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" style="width: 100%;height: 100%;">
	</div>
	<div class="conversation_user group_avater_wrap" *ngIf="group">
	  <img class="group_avater" [src]="imageURL+conversation.picture_left" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" style="width: 100%;height: 100%;">
	  <img class="group_avater" [src]="imageURL+conversation.picture_right" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" style="width: 100%;height: 100%;">
	</div>	
    <ion-title class="chat-head"> {{ conversation.name }}</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content (tap)="hideSticker()">
	<ion-infinite-scroll style="height:0" position="top" threshold="1%" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
	<ion-list style="margin-top:7px">
	  <div *ngFor="let message of messages" class="conversation left {{myId}}" [ngClass]="{'right': message.user_id == myId, 'left': message.user_id != myId}">
		<ion-note class="msg_time" *ngIf="isToday(message.time)">{{ message.time | date: 'h:mm a' }}</ion-note>
		<ion-note class="msg_time" *ngIf="!isToday(message.time)">{{ message.time | date: 'dd MMM' }}</ion-note> 
		<div class="conversation_user">
		  <img style="width:100%" [src]="imageURL+message.user_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" style="width: 100%;height: 100%;">
		</div>
		<div class="conversation_body" *ngIf="stickers.hasOwnProperty(message.message) == false">
			<div class="only_chat_text" *ngIf="emojis.hasOwnProperty(message.message) == false"> {{message.message}} </div>
			<div class="only_chat_text" *ngIf="emojis.hasOwnProperty(message.message) == true" > {{emojis[message.message]}}</div>
			<div *ngIf="message.image != ''"> <img [src]="imageURL+message.image"></div>			
		</div>
		<div class="conversation_sitcker"  *ngIf="stickers.hasOwnProperty(message.message) == true">
			<div><img [src]="imageURL+stickers[message.message]" ></div>		
		</div>
		
	  </div>
	</ion-list>
	<ion-row class="media_list" *ngIf="publishPhotos.length > '0'">
		<ion-col *ngFor="let photo of publishPhotos" col-4 class="publisher-photos">		
			<div class="ImgWrapBig" [style.backgroundImage]="getBackgroundStyle(photo)">
				<span class="remove_photo" (click)="removePhoto()"> X </span>
			</div>
		</ion-col>
	</ion-row>
	<input type="file" #postPhoto style="visibility: hidden; height: 0px;position:absolute" name="files[]" (change)="processWebImage($event)" multiple/>	
</ion-content>
<ion-footer no-padding>
  <ion-toolbar>
	<ion-buttons left *ngIf="publishPhotos.length < '1'">
	  <button ion-button icon-only color="primary" (tap)="takeCameraSnap(1)">
		<ion-icon name="camera"></ion-icon>
	  </button>
	  <button ion-button icon-only color="primary" (tap)="takeCameraSnap(0)"> 
		<ion-icon ios="ios-image" md="md-image"></ion-icon>
	  </button>	  
	  <button ion-button icon-only color="primary" (tap)="showSticker()"> 
		<ion-icon ios="ios-happy" md="md-happy"></ion-icon>
	  </button>	  	  
	</ion-buttons>
	<ion-item no-lines>
	  <ion-input type="text" class="chat_message" placeholder="Send message" [(ngModel)]="chatInfo.message"></ion-input>
	</ion-item>
	<ion-buttons right (tap)="sendMessage()" >
	  <button ion-button icon-only color="primary">
		<ion-icon name="send"></ion-icon>
	  </button>
	</ion-buttons>
  </ion-toolbar>	
	<ion-segment [(ngModel)]="stickerEmoji" class="sticker_emoji_tab" *ngIf="sticker_active == 'true'">
		<ion-segment-button value="emoji">
		  Emoji
		</ion-segment-button>
		<ion-segment-button value="sticker">
		  Sticker
		</ion-segment-button>
	</ion-segment>
	<!-- <ion-grid>
	  <ion-row>
		<ion-col text-center> 
			<button  ion-button color="primary" round  (tap)="showEmoji('true',$event)">Emoji</button>
		</ion-col>
		<ion-col text-center> 
			<button class="stickerToggle" ion-button color="light" round  (tap)="showEmoji('false',$event)"></button>
		</ion-col>
	  </ion-row>	
	</ion-grid> -->
	<div [ngSwitch]="stickerEmoji" class="stickers_container" [style.height.px]="stickerHeight"> 
	  <ion-grid *ngSwitchCase="'emoji'">
		<ion-row>
			<ion-col *ngFor="let sticker of allSticker" col-2 (tap)="sendStickerMsg(':STK-'+sticker.sticker_id+':')">
			 :)
			</ion-col>
		</ion-row>
	  </ion-grid>

	  <ion-grid *ngSwitchCase="'sticker'">
		<ion-row>
			<ion-col *ngFor="let sticker of allSticker" col-3 (tap)="sendStickerMsg(':STK-'+sticker.sticker_id+':')">
			 <img [src]="imageURL+sticker.image">
			</ion-col>
		</ion-row>
	  </ion-grid>
	</div>
	<!-- <div  >	
		<>
		  <ion-row *ngIf="showEmojiTab == 'true'">
			<ion-col col-2 > 
			</ion-col>
		  </ion-row>
		  <ion-row *ngIf="showEmojiTab == 'false'">
			<ion-col  > 
				
			</ion-col>
		  </ion-row>
		</ion-grid>  
	</div> -->
</ion-footer>