<ion-content scroll="false" class="login_page optPage">
  
    <div padding class="formContainer">


      <div class="disTabcontent">
        <div class="logo">
          <img class="appLogo" src="../../assets/followthebirdImgs/logo.png" alt="">
        </div>
        <img class="icn_img" src="../../assets/followthebirdImgs/fordet_password_icon.png" alt="">
        <h4>Forget your Password</h4>

        <form>
          <ion-list>
    
            <ion-item>
              <ion-label fixed><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
              <ion-input type="email" [(ngModel)]="account.user_email" name="user_email" placeholder="Email"></ion-input>
            </ion-item>	
            
            <button *ngIf="account.user_email" (tap)="sendUserAuth()" class="login_btn" ion-button color="light" block outline>RESET PASSWORD</button>
            <button *ngIf="!account.user_email" disabled (tap)="sendUserAuth()" class="login_btn" ion-button color="light" block outline>RESET PASSWORD</button>
              
          </ion-list>
        </form>
      </div>
      <div class="bottomFooter">
      <ion-grid>			
        <ion-row>
          <ion-col col-6>
            <button class="footer_btn left" (tap)="signup()" ion-button color="light" clear block>Create Account</button>
          </ion-col>
          <ion-col col-6>
            <button class="footer_btn" (tap)="login()" ion-button color="light" clear block>Login</button>
          </ion-col>
        
        </ion-row>
      </ion-grid>
    </div>
      
    </div>	
    
  </ion-content>
  