page-view-vault {
	.ImgWrapBig{
        height: 130px;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		position: relative;
    }
    .ImgWrapSmall{
        height: 100px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }
    .photosGrid ion-col{
        padding: 1px;
    }
	.item_select {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.5);
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 5px;
	}
	
	.item_select.hide{
		display:none;
	}
	.added .item_select.hide{
		    display: block !important;
	}
	.ImgWrapBig .checkbox-md{
	    position: absolute;
		z-index: 9;
		bottom: 5px;
		right: 5px;
		
	}
	.ImgWrapBig.added .checkbox-md{	   
		display:block;
	}
	.selected_files .checkbox-md{
	    position: absolute;
		z-index: 9;
		top: 6px;
		right: 5px;
		.checkbox-icon {
			width: 27px;
			height: 27px;
		}
	}
	.selected_files.added .checkbox-md{	   
		display:block;
	}
	
	
}
