<ion-content class="login_page singUp">   

  <div padding class="formContainer">
    <div id="tabIndicators">
      <ul>
        <li id="tab1" class="active"><span></span></li>
        <li id="tab2"><span></span></li>
        <li id="tab3"><span></span></li>
      </ul>
    </div>
    
    <h4>Create Account</h4>
    <!-- <form (submit)="doSignup()"> -->
    <form>
    <ion-list>

      <div class="stepsHold">
        <div id="step1" class="active">

          <ion-item>
              <ion-label fixed><ion-icon ios="ios-person-outline" md="md-contact"></ion-icon></ion-label>
            <ion-input type="text" [(ngModel)]="account.user_firstname" placeholder="First Name" name="user_firstname"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label fixed><ion-icon ios="ios-person-outline" md="md-contact"></ion-icon></ion-label>
            <ion-input type="text" [(ngModel)]="account.user_lastname" placeholder="Last Name"  name="user_lastname"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label fixed><ion-icon ios="ios-contact-outline" md="md-contact"></ion-icon></ion-label>
            <ion-input  type="text" [(ngModel)]="account.user_name" placeholder="Username"  name="user_name"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label fixed><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
            <ion-input type="email" [(ngModel)]="account.user_email" placeholder="Email"  name="user_email"></ion-input>
          </ion-item>      

          <ion-item>
            <ion-label fixed><ion-icon ios="ios-unlock-outline" md="md-unlock"></ion-icon></ion-label>
            <ion-input type="password" [(ngModel)]="account.user_password" placeholder="Password"  name="user_password"></ion-input>
          </ion-item>

          <button class="login_btn" *ngIf="checkValidations()"  ion-button color="light" block outline ion-button (click)="gotoStep(2)">CONTINUE</button>
          <button class="login_btn" *ngIf="!checkValidations()" disabled ion-button color="light" block outline ion-button (click)="gotoStep(2)">CONTINUE</button>

        </div>
        <div id="step2">

            <ion-item>
                <ion-label fixed><ion-icon ios="ios-transgender" md="md-transgender"></ion-icon></ion-label>
              <!-- <ion-input type="text" [(ngModel)]="account.user_firstname" placeholder="First Name" name="user_firstname"></ion-input> -->
				<ion-select [(ngModel)]="account.user_gender" [ngModelOptions]="{standalone:true}" class="fullSelect">
                  <ion-option value="" selected="true">Select Gender</ion-option>
                  <ion-option value="male">Male</ion-option>
                  <ion-option value="female">Female</ion-option>
                  <ion-option value="other">Other</ion-option>                  
                </ion-select>
            </ion-item>
			<ion-item>
			  <ion-label>Date of Birth</ion-label>
			  <ion-datetime  style="color:white" displayFormat="DD MMM YYYY" pickerFormat="DD/MMMM/YYYY" max="2005" min="1938" [(ngModel)]="account.user_DOB_date" name="user_DOB_date" [ngModelOptions]="{standalone:true}"></ion-datetime>
			</ion-item>
             
            <!-- <button class="login_btn" *ngIf="checkValidationsStep2()" ion-button color="light" block outline ion-button (click)="doSignup()">SIGN UP</button>
            <button class="login_btn" *ngIf="!checkValidationsStep2()" disabled ion-button color="light" block outline ion-button (click)="doSignup()">SIGN UP</button>
			-->
			<button class="login_btn" *ngIf="checkValidationsStep2()" ion-button color="light" block outline ion-button (click)="gotoStep(3)">CONTINUE</button>
            <button class="login_btn" *ngIf="!checkValidationsStep2()" disabled ion-button color="light" block outline ion-button (click)="gotoStep(3)">CONTINUE</button>
            <button class="login_btn backbtn" ion-button color="light" block clear ion-button (click)="gotoStep(1)">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> Previous
            </button>
        </div>
		<div id="step3">

			<h3>Term And Condition</h3>
			<p class="terms_policy"> Tap sign up button, on agreeing to our <b (click)="openTerm()">Terms & Conditions</b> and <b (click)="openPrivacy()">Privacy Policy</b> provided. You will get an email notification instantly from us on installing the app. Your personal information and details given in this app is highly secured and helps you to stay connected with your known contacts and friends.</p>
             
            <button class="login_btn" *ngIf="checkValidationsStep2()" ion-button color="light" block outline ion-button (click)="doSignup()">SIGN UP</button>
            <button class="login_btn" *ngIf="!checkValidationsStep2()" disabled ion-button color="light" block outline ion-button (click)="doSignup()">SIGN UP</button>
			
            <button class="login_btn backbtn" ion-button color="light" block clear ion-button (click)="gotoStep(2)">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> Previous
            </button>
			
        </div>
      </div>
    </ion-list>
  </form>
  
  <div class="foot">
    <h6>Already have an account ? <button (tap)="loginPage()" color="primary" clear>LOGIN</button></h6>
  </div>
  </div>
</ion-content>