page-story {
	ion-list {
		margin: 0 !important;
	}
	.dark_page{
		background: #000;
		color: #fff;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	.preloader {
		position: fixed;
		top: 0px;
		height: 100%;
		width: 100%;
		left: 0px;
		right: 0px;
		background: #fff;
		z-index: 200;
		opacity: 1;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}
	
	.preloader.gone{
	  opacity: 0;
	  z-index: -100;
	}

	.loader{
	  height: 2px;
	  background-color: #9C27B0;
      position: absolute;
      width: 100%;
      left: 0px;
	}

	.otherloader{
	  height: 0px;
	  background-color: #cce5e2;
	}
	
	.text_message_container {
		width: 100%;
		color: #fff;
		height: 100%;
		position: relative;
		background: rgba(255,93,177,1);
		background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 43%, rgba(233,93,240,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(43%, rgba(255,93,177,1)), color-stop(100%, rgba(233,93,240,1)));
		background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 43%, rgba(233,93,240,1) 100%);
		background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 43%, rgba(233,93,240,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 43%, rgba(233,93,240,1) 100%);
		background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 43%, rgba(233,93,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#e95df0', GradientType=1 );
	}
	
	.text_message {
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 24px;
		-ms-transform: translate(50px,100px);
		-webkit-transform: translate(50px,100px);
		transform: translate(-50%,-50%);
		font-weight: bold;
		font-family: cursive;
		width: 100%;
		text-align: center;
		padding: 20px;
	}
}
