page-cards {
    .scroll-content{
        padding:0 !important;
        background: #f0f0f1 !important;
    }
    .no_bgBtn{
        background: transparent !important;
        color: #750bb5 !important;
        box-shadow: none !important;
    }
   
}
