<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{pageProfile.page_title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="profileAndCover" [style.backgroundImage]="getCoverBackgroundStyle()" >
    <input type="file" #coverPhoto style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'cover')" />
    <button ion-button class="editcoverBtn" (click)="uploadCoverPicture()" *ngIf="pageProfile.page_admin == myId">
        <ion-icon color="white" name="camera" role="img" class="icon icon-ios ion-ios-camera" aria-label="camera"></ion-icon>
        Edit
    </button>
  </div>
  <ion-grid class="">
    <ion-row>
      <ion-col col-3 style="position:relative">
        <ion-item style="padding-left:0px;">
          <ion-thumbnail item-start style="border-radius: 50%;overflow: hidden;">
            <img [src]="imageURL+pageProfile.page_picture" onError="this.src='assets/followthebirdImgs/blank_page.jpg'">
          </ion-thumbnail>                  
          <input type="file" #profilePhoto style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'profile')" /> 
        </ion-item>
        <button ion-button clear icon-only class="profilePicAction" (tap)="uploadProfilePicture()" *ngIf="pageProfile.page_admin == myId">
          <ion-icon name="camera"></ion-icon>
        </button>         
      </ion-col>
      <ion-col col-9 style="text-align:left;">
          <h2>{{pageProfile.page_title}} <span style="font-size: 12px;" class="group-settings" (click)="settingAction()" *ngIf="pageProfile.page_admin == myId"><ion-icon name="cog"></ion-icon></span></h2>
		      <p style="padding-left:0px;margin-top: 4px;margin-bottom: 0;"> Page . {{pageProfile.page_likes}} Likes </p>
	  </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button color="primary" item-end icon-start full *ngIf="pageProfile.i_like == false" (tap)="pageLikeAction()"> <ion-icon name="thumbs-up"></ion-icon> Like Page</button>
  <button ion-button color="primary" item-end icon-start full *ngIf="pageProfile.i_like == true" (tap)="pageUnlikeAction()"><ion-icon name="thumbs-down"></ion-icon> Unlike Page</button>
  <ion-segment [(ngModel)]="pageDetailszone" class="editTabGrid lowHeight" >
    <ion-segment-button value="details">
			<button ion-button clear block full>               
				Details
			</button>
	  </ion-segment-button>
    <ion-segment-button value="timeline">
			<button ion-button clear block full>               
				Timeline
			</button>
	  </ion-segment-button>
	  <ion-segment-button value="photos">
			<button ion-button clear block full>                  
				Photos
			</button>
	  </ion-segment-button>
	  <ion-segment-button value="albums" (click)="getAlbums();">
			<button ion-button clear block full>                  
				Album
			</button>
	  </ion-segment-button>
	</ion-segment>
  <whats-on-mind [handle]="postElement" ></whats-on-mind>  
<div [ngSwitch]="pageDetailszone">
  <ion-list *ngSwitchCase="'details'">
      <ion-grid class="basicInfoGrid" padding-left>
          <ion-row>
            <ion-col col-12>
              <ion-list text-wrap>
                <ion-item >
                    <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
                    <strong>{{pageProfile.page_likes}}</strong> User Likes      
                </ion-item>
                <ion-item >
                    <ion-icon name="alert"></ion-icon>
                    {{pageProfile.page_description}}     
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
      </ion-grid>
  </ion-list>
  <ion-list *ngSwitchCase="'timeline'">
      <ion-card *ngFor="let feeds of postFeeds">
          <ion-item text-wrap>
            <ion-avatar item-start (click)="viewProfile(feeds.user_name)">
            <img [src]="imageURL+feeds.post_author_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" />
            </ion-avatar>
            <span style="font-weight:bold;padding-right:3px;" (click)="viewProfile(feeds.user_name,feeds.user_id)"> {{feeds.post_author_name}}</span> 
            <span *ngIf="feeds.feeling_action != ''" >is {{feeds.feeling_action}} {{feeds.feeling_value}}</span>
            {{post_type[feeds.post_type]}}
            <span *ngIf="feeds.in_event == '1'"><ion-icon name="play" style="font-size: 11px;color: #750bb5;padding-right: 3px;"></ion-icon> <ion-icon name='calendar' style="color:#b5af0b;padding: 0;margin: 0;padding-right: 3px;" item-start></ion-icon>  {{feeds.event_title}}</span>
            <ion-note class="msg_time" style="display:block" >{{feeds.time | date: 'dd MMM' }} at {{ feeds.time | date: 'h:mm a' }}</ion-note> 
            <button ion-button clear icon-only item-end (tap)="postActivity($event,feeds)"><ion-icon name="ios-more-outline"></ion-icon></button>
          </ion-item>
          <ion-card-content>
            <p style="padding-bottom: 3px;padding-left: 10px;">{{feeds.text}}</p>
          </ion-card-content>
          <div (click)= "viewPost(feeds)">	
            <div class="pg_wrapper" *ngIf="feeds.photos_num <= 2">
              <div class="pg_{{feeds.photos_num}}x" *ngFor="let photo of feeds.photos">
                <img [src]="imageURL+photo.source" >
              </div>	
            </div>	
            <div class="pg_wrapper" *ngIf="feeds.photos_num > 2">
              <div class="pg_2x" [style.backgroundImage]="getBackgroundStyle(feeds.photos[0].source)" ></div>
              <div class="pg_2x" >
                <div class="pg_4x" *ngFor="let photo of feeds.photos | slice:1:feeds.photos_num; " [style.backgroundImage]="getBackgroundStyle(photo.source)" >
                </div>
              </div>
            </div>
          
            <div *ngIf="feeds.post_type == 'video'">
              <video *ngFor="let vid of feeds.video" style="width:100%" controls preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source [src]="imageURL+vid.source" type="video/mp4"/>
              </video>
            </div>
            <div *ngIf="feeds.post_type == 'audio'" style="text-align: center;">
              <audio controls *ngFor="let aud of feeds.audio">
                <source [src]="imageURL+aud.source" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>	
            <div *ngIf="feeds.post_type == 'file'">
              <ion-item *ngFor="let attch of feeds.file" >
                <ion-thumbnail item-start>
                <img src="assets/followthebirdImgs/text-file-icon.png">
                </ion-thumbnail>
                <h2>Attachment.zip</h2>
                <a ion-button padding href="{{imageURL+attch.source}}" download>
                Download
                </a>
              </ion-item>
            </div>
            <div *ngIf="feeds.post_type == 'shared'">
            <ion-card>
              <ion-item text-wrap>
                <ion-avatar item-start (click)="viewProfile(feeds.origin.user_name)">
                <img [src]="imageURL+feeds.origin.post_author_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" />
                </ion-avatar>
                <span style="font-weight:bold;padding-right:3px;" (click)="viewProfile(feeds.origin.user_name,feeds.origin.user_id)"> {{feeds.post_author_name}}</span> 
                <span *ngIf="feeds.origin.feeling_action != ''" >is {{feeds.origin.feeling_action}} {{feeds.origin.feeling_value}}</span>
                {{post_type[feeds.origin.post_type]}}
                <span *ngIf="feeds.in_event == '1'"><ion-icon name="play" style="font-size: 11px;color: #750bb5;padding-right: 3px;"></ion-icon> <ion-icon name='calendar' style="color:#b5af0b;padding: 0;margin: 0;padding-right: 3px;" item-start></ion-icon>  {{feeds.origin.event_title}}</span>
                <p>{{feeds.origin.time}}</p>
              </ion-item>
              <ion-card-content>
                <p style="padding-bottom: 3px;padding-left: 20px;">{{feeds.origin.text}}</p>
                <!--<img *ngFor="let photo of feeds.origin.photos" [src]="imageURL+photo.source" > -->
                <div class="pg_wrapper" *ngIf="feeds.origin.photos_num <= 2">
                  <div class="pg_{{feeds.origin.photos_num}}x" *ngFor="let photo of feeds.origin.photos">
                    <img [src]="imageURL+photo.source" >
                  </div>	
                </div>	
                <div class="pg_wrapper" *ngIf="feeds.origin.photos_num > 2">
                  <div class="pg_2x" [style.backgroundImage]="getBackgroundStyle(feeds.origin.photos[0].source)" ></div>
                  <div class="pg_2x" >
                    <div class="pg_4x" *ngFor="let photo of feeds.origin.photos | slice:1:feeds.origin.photos_num; " [style.backgroundImage]="getBackgroundStyle(photo.source)" >
                    </div>
                  </div>
                </div>
                <div *ngIf="feeds.origin.post_type == 'video'">
                  <video *ngFor="let originvid of feeds.origin.video" style="width:100%" controls preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                    <source [src]="imageURL+originvid.source" type="video/mp4"/>
                  </video>
                </div>
                <div *ngIf="feeds.origin.post_type == 'audio'">
                  <audio controls *ngFor="let aud of feeds.origin.audio">
                    <source [src]="imageURL+aud.source" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
                </div>	
                <div *ngIf="feeds.origin.post_type == 'file'">
                  <ion-item *ngFor="let attch of feeds.origin.file" >
                    <ion-thumbnail item-start>
                    <img src="assets/followthebirdImgs/text-file-icon.png">
                    </ion-thumbnail>
                    <h2>Attachment.zip</h2>
                    <button ion-button padding (click)="downloadAttachment(attch.source)">
                    Download
                    </button>
                  </ion-item>
                </div>		
              </ion-card-content>
            </ion-card>
          </div>
          </div>
          <ion-row>
            <ion-col>
            <button ion-button color="primary" clear small icon-start (click)="viewComments(feeds.post_comments,feeds.post_id)">
              <ion-icon ios="ios-text" md="md-text"></ion-icon>
              {{feeds.comments}} Comments
            </button>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
            <button ion-button color="primary" clear small icon-end right (click)="sharePostCtrl(feeds.post_id)" *ngIf="feeds.privacy == 'public'">
              Share
              <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>           
            </button>
            </ion-col>
            
          </ion-row>
          </ion-card>
    <ion-grid *ngIf="postFeeds.length <= '0'">
      <ion-row>
      <ion-col col-12 text-center><ion-icon ios="ios-paper" md="md-paper" style="font-size: 47px;"></ion-icon> <h3>No posts to show</h3></ion-col>
      </ion-row>
    </ion-grid>		
  </ion-list >
  <ion-list *ngSwitchCase="'photos'">
    <ion-grid class="photosGrid">
      <ion-row>
          <ion-col *ngFor="let photo of pageProfile.photos" col-4 (click)="viewImage(photo)">		
            <div class="ImgWrapBig" [style.backgroundImage]="getBackgroundStyle(photo.source)" >                
            </div>
          </ion-col>
      </ion-row>
  </ion-grid>
  </ion-list >
  <ion-list *ngSwitchCase="'albums'">
      <ion-grid class="photosGrid">
          <ion-row>
            <ion-col *ngFor="let album of pageProfile.albums" col-4 >		
              <div class="ImgWrapBig" [style.backgroundImage]="getBackgroundStyle(album.cover)" (click)="getAlbum(album.album_id)" >                
              </div>
              <div class="album-details" (click)="getAlbum(album.album_id)" > 
                <span style="padding-top:0px;"> {{album.title}} </span>
              <div>
                {{album.photos_count}} Photos
                <div class="">
                  
                </div>
              </div> 
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-list >
</div> 
 </ion-content>
 

