page-event-profile {
	.ion-content {
		background-color: #bfb8b8;
	}
	.grid {
		background-color: #fff;
	}
	
    .scroll-content{
        padding: 0 !important;
    }
    .profileAndCover{
        width: 100%;
        height:170px;
        position: relative;
        background-size: cover !important;
        background-position: center center !important;
        button{
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 99999;
            margin: 0;
            font-size: 11px;
            box-shadow: none;
            height: 27px;
            background: rgba(255,255,255,.5);
            color: #000;
            ion-icon{
                margin-right: 10px;
                font-size: 20px;
            }
        }
        
    }
    .profileWrap{
        position: relative;
        width: 80px;
        height: 80px;
        button{
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: 0;
            right: 0;
            ion-icon{
                font-size: 16px;
            }
        }
    }
    .profileImgArea{
        border-radius: 50%;        
        overflow: hidden;
        width: 80px;
        height: 80px;
        position: relative;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
    .profileHeadGrid {
        margin-top: -50px;

        .profileText{
            margin-top: 50px;
            p{
                font-size: 9px;
                margin-bottom: 0;
            }
            button{
                margin:0;
                font-size: 10px;
                height: 25px;
            }
        }
    }
    
    .basicInfoGrid{
        ion-item{
            padding-left: 0;
            font-size: 13px;
            min-height: auto;
            .item-inner{
                border:none !important;
            }
            ion-label{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            ion-icon{
                margin-right: 12px;
            }
        }
        .mainEditProfile{
            ion-icon{
                font-size: 30px;
                margin-right: 15px;
            }
        }
    }
	.editGrid{
        padding: 0;
        ion-col{
            padding: 0;
            border-right: 2px solid #ddd;
        }
        ion-col:last-child{
            padding: 0;
            border-right: none;
        }
        button{            
            min-height: 6rem;
            height: 100%;
            color: #3a3a3a;
            text-transform: none;
            margin: 0;
			background-color:#e8e8e8;
        }
        .button-inner{
            flex-direction: column;
            ion-icon{
                font-size: 22px;
				color: #3a3a3a;
				margin-bottom: 5px;
            }
        }
    }
	
	.editGrid ion-col {
		padding: 0;
		border-right: 2px solid #ddd0;
	}
	
	.editTabGrid{
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        padding: 0;
        ion-col{
            padding: 0;
            border-right: 2px solid #ddd;
        }
        ion-col:last-child{
            padding: 0;
            border-right: none;
        }
        button{            
            min-height: 6rem;
            height: 100%;
            color: #3a3a3a;
            text-transform: none;
            margin: 0;
        }
        .button-inner{
            flex-direction: column;
            ion-icon{
                font-size: 30px;
                color: #3a3a3a;
            }
        }
    }
	.editTabGrid.lowHeight{
        button{
            min-height: 4rem;
        }
    }
	.editInfoGrid{
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        padding: 0;
        ion-col{
            padding: 0;
            border-right: 2px solid #ddd;
        }
        ion-col:last-child{
            padding: 0;
            border-right: none;
        }
        button{            
            min-height: 6rem;
            height: 100%;
            text-transform: none;
            margin: 0;
        }
        .button-inner{
            flex-direction: column;
            ion-icon{
                font-size: 30px;
            }
        }
    }
	.editInfoGrid ion-col.no-border.col {
		border: none;
	}
	
	.editTabGrid ion-segment-button {
		padding: 0;
		border-right: 2px solid #ddd;
		box-shadow: none;
	}
	
	.segment-md .segment-button.segment-activated {
		border-bottom-color: #750bb5;
		opacity: 1;
		border-right: none;
	}
	
	.ImgWrapBig{
        height: 160px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important; 
    }
    .ImgWrapSmall{
        height: 100px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }
	
	.editInfoGrid.lowHeight{
        button{
            min-height: 4rem;
        }
    }
	.sectionHead{
        display: flex;
        align-items: center;
        button{
            width: 30px;
            height: 30px;
            box-shadow: none;
            margin-right: 15px;
        }
        p{
            margin:0;
        }
        ion-icon{
            font-size: 15px;
        }
    }
	.photosGrid ion-col{
        padding: 3px;
    }
    
}
