<ion-content >
<ion-card >
	<ion-item text-wrap>
	  <ion-avatar item-start (click)="viewProfile(feeds.user_name)">
		<img [src]="imageURL+feeds.post_author_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" />
	  </ion-avatar>
	  <span style="font-weight:bold;padding-right:3px;" (click)="viewProfile(feeds.user_name,feeds.user_id)"> {{feeds.post_author_name}}</span> 
	  <span *ngIf="feeds.feeling_action != ''" >is {{feeds.feeling_action}} {{feeds.feeling_value}} - </span>
		{{post_type[feeds.post_type]}} 
	  <span *ngIf="feeds.wall_id > '0'" > to <strong>{{feeds.wall_fullname}}'s</strong> Timeline</span>
	  <span *ngIf="feeds.post_type == 'shared'" > <strong (click)="viewProfile(feeds.origin.user_name,feeds.origin.user_id)">{{feeds.origin.post_author_name}}</strong>'s Post</span>
	  <span *ngIf="feeds.in_event == '1'" style="display:inline-block;"><ion-icon name="play" style="font-size: 11px;color: #750bb5;padding-right: 3px;"></ion-icon> <ion-icon name='calendar' style="color:#b5af0b;padding: 0;margin: 0;padding-right: 3px;" item-start></ion-icon>  {{feeds.event_title}}</span>
	  <ion-note class="msg_time" style="display:block" *ngIf="isAndroid">{{feeds.time | date: 'dd MMM' }} at {{ feeds.time | date: 'h:mm a' }}</ion-note> 
	  <button ion-button clear icon-only item-end (tap)="postActivity($event,feeds)"><ion-icon name="ios-more-outline"></ion-icon></button>
	</ion-item>
    <ion-card-content (click)= "viewPost(feeds)">
		<p style="padding-bottom: 3px;padding-left: 10px;">{{feeds.text}}</p>
	</ion-card-content>  
	<ion-row class="comment_share">
      <ion-col>
        <button ion-button color="primary" clear small icon-start (click)="viewComments(feeds.post_comments,feeds.post_id,'post')">
            <ion-icon ios="ios-text" md="md-text"></ion-icon>
            {{feeds.comments}} Comments
        </button>
      </ion-col>
	  <ion-col>
	  </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-end right (click)="sharePostCtrl(feeds.post_id)" *ngIf="feeds.privacy == 'public'">
            Share
			<ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>           
        </button>
      </ion-col>
      
    </ion-row>
	<div>
		<div class="pg_wrapper">
			<div class="photo_list" *ngFor="let photo of feeds.photos">
				<img [src]="imageURL+photo.source" (click)="viewImage(photo)">
				<ion-row class="comment_share">
				  <ion-col>
					<button ion-button color="primary" clear small icon-start (click)="viewComments('',photo.photo_id,'photo')">
						<ion-icon ios="ios-text" md="md-text"></ion-icon>
						{{photo.comments}} Comments
					</button>
				  </ion-col>
				  <ion-col>
				  </ion-col>
				  <ion-col>
					<button ion-button color="primary" clear small icon-end right (click)="sharePostCtrl(feeds.post_id)" *ngIf="feeds.privacy == 'public'">
						Share
						<ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>           
					</button>
				  </ion-col>			  
				</ion-row>
			</div>				
		</div>	
		<div *ngIf="feeds.post_type == 'video'">
			<video *ngFor="let vid of feeds.video" style="width:100%" controls preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
				<source [src]="imageURL+vid.source" type="video/mp4"/>
			</video>	
		</div>
		<div *ngIf="feeds.post_type == 'audio'" style="text-align: center;">
			<audio controls *ngFor="let aud of feeds.audio">
			  <source [src]="imageURL+aud.source" type="audio/mpeg">
			  Your browser does not support the audio element.
			</audio>
		</div>	
		<div *ngIf="feeds.post_type == 'file'">
			<ion-item *ngFor="let attch of feeds.file" >
			  <ion-thumbnail item-start>
				<img src="assets/followthebirdImgs/text-file-icon.png">
			  </ion-thumbnail>
			  <h2>Attachment.zip</h2>
			  <a ion-button padding href="{{imageURL+attch.source}}" download>
				Download
			  </a>
			</ion-item>
		</div>
		<div *ngIf="feeds.post_type == 'shared'">
			<ion-card>
				<ion-item text-wrap>
				  <ion-avatar item-start (click)="viewProfile(feeds.origin.user_name)">
					<img [src]="imageURL+feeds.origin.post_author_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" />
				  </ion-avatar>
				  <span style="font-weight:bold;padding-right:3px;" (click)="viewProfile(feeds.origin.user_name,feeds.origin.user_id)"> {{feeds.origin.post_author_name}}</span> 
				  <span *ngIf="feeds.origin.feeling_action != ''" >is {{feeds.origin.feeling_action}} {{feeds.origin.feeling_value}}</span>
				  {{post_type[feeds.origin.post_type]}}
				  <span *ngIf="feeds.in_event == '1'"><ion-icon name="play" style="font-size: 11px;color: #750bb5;padding-right: 3px;"></ion-icon> <ion-icon name='calendar' style="color:#b5af0b;padding: 0;margin: 0;padding-right: 3px;" item-start></ion-icon>  {{feeds.origin.event_title}}</span>
				  <p>{{feeds.origin.time}}</p>
				</ion-item>
				<ion-card-content>
					<p style="padding-bottom: 3px;padding-left: 20px;">{{feeds.origin.text}}</p>
					<img *ngFor="let photo of feeds.origin.photos" [src]="imageURL+photo.source" (click)="viewImage(photo)">
					<div *ngIf="feeds.origin.post_type == 'video'">
						<video *ngFor="let originvid of feeds.origin.video" style="width:100%" controls preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
							<source [src]="imageURL+originvid.source" type="video/mp4"/>
						</video>
					</div>
					<div *ngIf="feeds.origin.post_type == 'audio'">
						<audio controls *ngFor="let aud of feeds.origin.audio">
						  <source [src]="imageURL+aud.source" type="audio/mpeg">
						  Your browser does not support the audio element.
						</audio>
					</div>	
					<div *ngIf="feeds.origin.post_type == 'file'">
						<ion-item *ngFor="let attch of feeds.origin.file" >
						  <ion-thumbnail item-start>
							<img src="assets/followthebirdImgs/text-file-icon.png">
						  </ion-thumbnail>
						  <h2>Attachment.zip</h2>
						  <button ion-button padding (click)="downloadAttachment(attch.source)">
							Download
						  </button>
						</ion-item>
					</div>		
				</ion-card-content>
			</ion-card>
		</div>
	</div>
  </ion-card>
</ion-content>
