<ion-header>
  <ion-navbar color="primary">
    <ion-title> {{title}} </ion-title>
	<ion-buttons right>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content (tap)="hideSticker()">
	<ion-list no-lines *ngFor="let comment of comments" text-wrap>
	  <ion-item >
		<ion-avatar item-start>
		  <img [src]="imageURL+comment.author_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'">
		</ion-avatar>
		<ion-label class="commant-wrap"> 
			<div  class="comment-box" >
				<h3>{{comment.author_name}}</h3>
				<p *ngIf="stickers.hasOwnProperty(comment.text) == false">{{comment.text}}</p>
				<div *ngIf="stickers.hasOwnProperty(comment.text) == true"><img [src]="imageURL+stickers[comment.text]" ></div>
				<img class="comment_image" *ngIf="comment.image != ''" [src]="imageURL+comment.image">
			</div>			
		</ion-label>		
	  </ion-item>
	  <ion-item class="reply_option" >
		<p class="reply-box" (click)="setReplyComment(comment.comment_replies,comment.comment_id)"> Reply </p>
		<p class="reply-box allreply-box" *ngIf="comment.comment_replies_count > 1" (click)="setReplyComment(comment.comment_replies,comment.comment_id)"> view all {{comment.comment_replies_count}} replies</p>
	  </ion-item>
	  <div class="comment_replies" *ngIf="comment.comment_replies_count > 0">
			<ion-item *ngFor="let replies of comment.comment_replies | slice:0:1; let i=index" text-wrap>
				<ion-avatar item-start>
				  <img [src]="imageURL+replies.author_picture">
				</ion-avatar>
				<ion-label class="comment-box"> 
					<h3>{{replies.author_name}}</h3>
					<p>{{replies.text}}</p>
					<img class="comment_image" *ngIf="replies.image != ''" [src]="imageURL+comment.image">
					<div *ngIf="stickers.hasOwnProperty(replies.text) == true"><img [src]="imageURL+stickers[replies.text]" ></div>
				</ion-label>
			</ion-item>	
		</div>	
	</ion-list>
	
	<input type="file" #postPhoto style="visibility: hidden; height: 0px;position:absolute" name="files[]" (change)="processWebImage($event)" multiple/>	
</ion-content>
<ion-row class="media_list" *ngIf="publishPhotos != ''" >
		<ion-col col-3 class="publisher-photos">		
			<div class="ImgWrapBig" [style.backgroundImage]="getBackgroundStyle(publishPhotos)">
				<span class="remove_photo" (click)="removePhoto()"> X </span>
			</div>
		</ion-col>
	</ion-row>
<ion-footer>
  <!-- <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-9>
        <ion-item no-lines>
        </ion-item>
      </ion-col>
      <ion-col col-3>
      <button ion-button outline color="primary" placeholder="Write a comment"  (click)="postComment()" >
        Send
      </button>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->
  <ion-toolbar>
	<ion-buttons left *ngIf="publishPhotos== ''">
	  <button ion-button icon-only color="primary" (tap)="takeCameraSnap()">
		<ion-icon name="camera"></ion-icon>
	  </button>
	  <button ion-button icon-only color="primary" (tap)="uploadFromGallery()"> 
		<ion-icon ios="ios-image" md="md-image"></ion-icon>
	  </button>	  
	  <button ion-button icon-only color="primary" (tap)="showSticker()"> 
		<ion-icon ios="ios-happy" md="md-happy"></ion-icon>
	  </button>	  	  
	</ion-buttons>
	<ion-item no-lines>
	  <ion-input #comment_box type="text" class="chat_message" placeholder="Write a comment" [(ngModel)]="post_comment.message"  name="message" ></ion-input>
	</ion-item>
	<ion-buttons right (tap)="postComment()" >
	  <button ion-button icon-only color="primary" [disabled]="post_comment.message === ''">
		<ion-icon name="send"></ion-icon>
	  </button>
	</ion-buttons>
  </ion-toolbar>
  <div class="stickers_container" [style.height.px]="stickerHeight" >
	<ion-grid>
	  <ion-row>
		<ion-col *ngFor="let sticker of allSticker" col-3 (tap)="sendStickerMsg(':STK-'+sticker.sticker_id+':')"> 
			<img [src]="imageURL+sticker.image">
		</ion-col>
	  </ion-row>	
	</ion-grid>  
  </div>
</ion-footer>