page-comments {
	.comment-box {
		border-radius: 20px;
		background: #f8f8f8;
		padding: 7px 13px;
		width: auto;
		margin:0px;
		p {
			font-size: 17px;
			font-weight: bold;
		}
	}
	.reply-box {
	    padding-top: 5px;
		padding-left: 24px;
	}
	ion-list {
		overflow: hidden;
		margin: 10px 5px 0 4px !important;
	}
	.comment_replies {
		float: right;
		width: 90%;
	}
	.commant-wrap {
		margin-bottom: 2px;
		margin-top: 7px;
	}
	.reply-box {
		padding-bottom: 5px;
		padding-left: 24px;
	}
	.ImgWrapBig{
        height: 80px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important; 
		.remove_photo {
			position: absolute;
			right: 0;
			text-align: center;
			background: #fff;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			padding-top: 3px;
			border: 1px solid #999;
		}
    } 	 	
	.media_list {
		position: fixed;
		width: 100%;
		border: 1px solid #e0e0e0;
		border-radius: 15px;
		border-bottom: 0;
		bottom: 50px;
		background: #fff;
		z-index: 9;
		
	}
	.publisher-photos {
		border-right: 1px solid #e8e8e8;
	}
	.stickers_container {
		height: 0;
		background: #fff;
		overflow-y: scroll;
	}
}
.reply_option ion-label {
    margin: 0px 51px;
}